doctype html
html(lang='en')
  head
    title #{title}  
    
  body
    h1 Your Account: #{user.wallet}
    h2 Please upload a certificate to validate your available days in the sistem.
    h2 All these days can be given off to a requestor by your choose.
    button(onclick="logout()") Logout
    br
    br
    form(action='/home/upload?auth=' + user.authToken + '&&account=' + user.wallet, method='post', enctype='multipart/form-data')
        | Select Document certifying your available days:
        input#fileToUpload(type='file', name='file')
        br
        | Specify the number of days that you have available:
        input#days(type='number', name='days')
        br
        input(type='submit', value='Upload document', name='submit')
    br
    br
    
    button(onclick="logout()") Logout

    hr
    h4 You have the following amount of days available to give off
    h4#balance

    hr

    
    table#here_table
      tbody
        tr
          th Wallet
          th Days
        
    
    //button(onclick="loginDonor()") Login as Donor
    //button(onclick="loginRequestor()") Login as Requestor

    script(src='assets/js/jquery.min.js')
    script(src='assets/js/popper.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/slick.min.js')
    script(src='assets/js/jquery.mb.YTPlayer.min.js')
    script(src='assets/js/jquery.waypoints.min.js')
    script(src='assets/js/jquery.easing.1.3.js')
    script(src='assets/js/main.js')
    script(src='bundle.js')
    script(type='text/javascript').

        async function collectRequestors(fdm, res) {
            var requestors = [];
            var days = [];
            
            // first get the number of elements
            var nRequestors = (await fdm.nRequestors.call())[0].toNumber();
            // then get the addresses
            for(var i=0; i<nRequestors; i++) {
                requestors.push(((await fdm.requestors(i))[0]));
            }
            // finally the days
            for(var i=0; i<nRequestors; i++) {
                var address = requestors[i];
                days.push((await fdm.requirements(requestors[i]))[0].toNumber());
                
            }
            res([requestors,days]);
        }
        
        var requestors;
        var days;
        var fdt;

        async function transact(ith) {
            
            var dest = requestors[ith];
            var amount = days[ith];
            
            var txVal = fdt.transfer(dest, amount, {from: "#{user.wallet}"});
            console.log(txVal);

            //fdt.transfer()
            //console.log(requestors[ith]);

        }

        window.addEventListener('load', function() {
            // Checking if Web3 has been injected by the browser (Mist/MetaMask)
            if (typeof web3 !== 'undefined') {

                // Use the browser's ethereum provider
                var provider = web3.currentProvider
                window.eth = new Eth(web3.currentProvider);
                console.log("Detected a web3 provider");

                $.get('http://www.clpt.cl/abi_fdt.json', (res) => {
                    var abi_fdt = res;

                    fdt = window.eth.contract(abi_fdt).at("#{FreeDaysToken_Contract}");
                    
                    fdt.balanceOf("#{user.wallet}").then((value) => {
                        $('#balance').text(function(i, oldText) {
                            return value.balance.toNumber();
                        });
                    });
                });

                $.get('http://www.clpt.cl/abi_fdm.json', function (res) {
                    var abi_fdm = res;

                    var fdm = window.eth.contract(abi_fdm).at("#{FreeDaysManager_Contract}");
                    
                    collectRequestors(fdm, function(val) {
                        var id=0;
                        requestors = val[0];
                        days = val[1];
                        for(var i=0; i<val[0].length; i++) {
                            $('#here_table').append(`<tr><td><a id=${i} onclick=transact(${i})>` +  val[0][i] + '</a></td><td>' + val[1][i] + '</td></tr>')
                        }
                        
                    });

                    
                    

                    /*fdm.requirements("#{user.wallet}").then((value) => {
                        $('#requestedDays').text(function(i, oldText) {
                            return value[0].toNumber();
                        });
                    });*/
                });


            } else {
                console.log('No web3? You should consider trying MetaMask!')
            }
        });

        function logout() {
            $.get('http://www.clpt.cl/home/logout?auth=#{user.authToken}&&account=#{user.wallet}', (res) => {
                if(res.wallet == "#{user.wallet}") {
                    window.location.href = "/";
                } else {
                    // nothing
                }
            });
        }



    